/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body
{
	width: 100%;
}

#logo-image
{
	height: 240px;
}

#logo 
{
	width: 210px;
	float:left;
}

#title
{
	width: 70%;
	display:inline;
	float:left;
}

h3
{
	font-family: Berlin Sans FB Demi, sans-serif;
}

#title > h3
{
	margin-top: -10px;
	margin-left:610px;
}

#title-image
{
	margin: 10px auto 0px;
}

#searchfield
{
	width: 300px;
}

#cart
{
	text-align: right;
	padding-right:80px;
}

#cart > h3
{
	margin-top:-10px;
	margin-right:50px;
}

#cart-image
{
	margin-top:50px;
	margin-right:40px;
	height:100px;
}
