/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body
{
	width: 100%;
	font-family: Trebuchet, sans-serif;
}

header
{
	font-family: Berlin Sans FB Demi, sans-serif;
}

#logo-image
{
	height: 220px;
}

#logo 
{
	width: 210px;
	float:left;
}

#title
{
	display:inline;
	float:left;
	margin-left:40px;
}

#title > h3
{
	margin-top: -10px;
	margin-left:610px;
}

#title-image
{
	margin: 10px auto 0px;
}

#searchfield
{
	width: 300px;
}

#cart
{
	text-align: right;
	padding-right:100px;
}

#cart-image
{
	margin-top:50px;
	margin-right:40px;
	height:100px;
}

#navigation
{
	clear:both;
	width:100%;
	background:#000;
	height:40px;
	margin-left:-10px;
}

nav
{

	width:100%;
	text-align:center;
	padding-top:5px;
}

nav > ul
{
	display:inline;
	list-style:none; 
}

nav > ul li 
{
	display:inline;
	padding:0px 20px;
	font-size:20px;
	color:#FFF;
}

.menulinks
{
	color:#FFF;
	text-decoration: none;
}

.menulinks :hover
{
	box-shadow: 1px 1px #80CCFF;
}

.productlinks
{
	text-decoration: none;
	color:#000;
}

#content 
{
	width:80%;
	margin:20px auto;
}

.singleproduct
{
	width: 280px;
	height: 400px;
	float:left;
	border:1px solid #B2B2B2;
	box-shadow: 2px 2px #B2B2B2;
	margin: 5px;
	padding:10px;
	border-radius:5px;
}

.singleproduct > p 
{
	font-size:14px;
}

.product-image
{
	width:200px;
	height:200px;
	margin: 10px auto 15px;
}